body {
  margin: 0;
  padding: 0;
  background-color: black;
}

html, body, #root {
  height: 100%;
}

.terminal-div {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  background-color:transparent;
}

.terminal-outest {
  background-color: #1e1e1e;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  font-family: 'Courier New', monospace;
  width: 500px;
  height: 100%;
  max-width: 90vw;
}

.terminal-header {
  background-color: #2d2d2d;
  display: flex;
  justify-content: start;
  align-items: center;
}

.traffic-buttons {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.terminal-code {
  background-color: #1e1e1e;
  font-size: 14px;
  white-space: pre-wrap;
  line-height: 1.4;
}

.line {
  display: block;
}
.blinking-cursor {
  display: inline-block;
  width: 10px;
  animation: blink 1s step-start infinite;
  color: white;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.github-buttons {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color:transparent;
}

.github-button {
  border: 1px white solid;
  color: white;
}
.github-button:focus, .github-button:active, .github-button:hover {
  color: black;
  background-color: white;
}

